*, ::before, ::after {
    box-sizing: border-box;
    overflow: hidden;
}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#break-session {
    display: flex;
}

#time-controls {
    display: flex;
}